<header>
    <dx-toolbar class="header-toolbar">
        <dxi-item
            *ngIf="menuToggleEnabled"
            location="before"
            widget="dxButton"
            cssClass="menu-button"
            [options]="{
                icon: 'menu',
                stylingMode: 'text',
                onClick: toggleMenu,
            }"
        >
        </dxi-item>
        <!-- <dxi-item location="before" cssClass="header-title" *ngIf="title" [text]="title">
        </dxi-item> -->
        <dxi-item location="before">
            <ng-container *dxTemplate>
                <img
                    src="images/logo/rv-capital-logo.svg"
                    alt="Logo"
                    class="logo h-6"
                />
            </ng-container>
        </dxi-item>

        <dxi-item location="after">
            <ng-container *dxTemplate>
                <div class="flex gap-2 items-center justify-center">
                    <theme-switcher></theme-switcher>
                    <!-- <app-profile-viewer></app-profile-viewer> -->
                </div>
            </ng-container>
        </dxi-item>
    </dx-toolbar>
</header>
