$base-accent: #4b3dbf;
$base-font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$base-typography-bg: #fafafa;
$base-bg: #ffffff;
$base-hover-bg: #f5f5f5;
$base-active-bg: #e0e0e0;
$base-selected-bg: #ebebeb;
$base-border-color: #e0e0e0;
$base-border-color-accessible: #616161;
$base-success: #107c10;
$base-warning: #fde300;
$base-danger: #d13438;
$base-text-color: #242424;
$base-label-color: #707070;
$base-icon-color: #616161;
$base-hover-color: #242424;
$base-focus-color: #ffffff;
$base-focus-bg: #f5f5f5;
$base-spin-icon-color: #616161;
$base-link-color: #4b3dbf;
$fluent-button-height: 32px;
$fluent-button-icon-size: 20px;
$fluent-button-icon-margin: 8px;
$base-border-radius: 8px;
$fieldset-field-label-color: #242424;
$texteditor-color: #242424;
$texteditor-placeholder-color: #707070;
$texteditor-outlined-bg: #ffffff;
$texteditor-outlined-bg-hover: #ffffff;
$texteditor-outlined-bg-focused: #ffffff;
$texteditor-filled-bg: #f5f5f5;
$texteditor-underlined-bg: transparent;
$texteditor-underlined-bg-hover: transparent;
$texteditor-underlined-bg-focused: transparent;
$texteditor-border-color: #e0e0e0;
$texteditor-border-bottom-color: #e0e0e0;
$texteditor-indicator-border-color: #4b3dbf;
$texteditor-filled-bg-hover: #f5f5f5;
$texteditor-filled-bg-focused: #f5f5f5;
$chat-background-color: #ffffff;
$chat-border-color: #e0e0e0;
$chat-avatar-color: #242424;
$chat-avatar-background-color: #e0e0e0;
$chat-bubble-color-primary: #242424;
$chat-bubble-background-color-primary: #ffffff;
$chat-bubble-color-secondary: #242424;
$chat-bubble-background-color-secondary: #f5f5f5;
$chat-information-author-name-color: #707070;
$chat-information-timestamp-color: #707070;
$chat-messagelist-day-header-color: #707070;
$chat-alertlist-color: #d13438;
$chat-messagelist-empty-icon-color: #b3b3b3;
$chat-messagelist-empty-icon-background-color: #f5f5f5;
$chat-messagelist-empty-message-color: #242424;
$chat-messagelist-empty-prompt-color: #616161;
$chat-typingindicator-color: #707070;
$chat-typingindicator-circle-bg-color-center: #707070;
$chat-typingindicator-circle-bg-color: #b5b5b5;
$chat-typingindicator-bubble-bg-color: #f5f5f5;
$popup-title-bg: transparent;
$button-normal-color: #242424;
$button-normal-bg: #ffffff;
$button-normal-outlined-bg: transparent;
$button-normal-text-bg: transparent;
$button-normal-selected-color: #242424;
$button-normal-hover-bg: #f5f5f5;
$button-normal-focused-bg: #f5f5f5;
$button-normal-active-bg: #e0e0e0;
$button-normal-selected-bg: #ebebeb;
$button-default-color: #ffffff;
$button-default-bg: #4b3dbf;
$button-default-selected-color: #ffffff;
$button-default-hover-bg: #483ca8;
$button-default-focused-bg: #483ca8;
$button-default-active-bg: #3f3695;
$button-default-selected-bg: #393182;
$button-default-outlined-color: #4b3dbf;
$button-default-text-color: #4b3dbf;
$button-danger-color: #ffffff;
$button-danger-bg: #d13438;
$button-danger-selected-color: #ffffff;
$button-danger-hover-bg: #bc2f33;
$button-danger-focused-bg: #bc2f33;
$button-danger-active-bg: #3f1011;
$button-danger-selected-bg: #751d1f;
$button-success-color: #ffffff;
$button-success-bg: #107c10;
$button-success-selected-color: #ffffff;
$button-success-hover-bg: #0e700e;
$button-success-focused-bg: #0e700e;
$button-success-active-bg: #052505;
$button-success-selected-bg: #094509;
$button-default-outlined-color-hover: #2a265e;
$button-default-outlined-color-active: #2a265e;
$button-default-outlined-selected-color: #2a265e;
$button-default-text-color-hover: #2a265e;
$button-default-text-color-active: #2a265e;
$button-default-text-selected-color: #2a265e;
$scrollable-scroll-bg: #bfbfbfb3;
$stepper-step-accent-bg: #4b3dbf;
$stepper-step-accent-hover-bg: #483ca8;
$stepper-step-danger-bg: #d13438;
$stepper-step-danger-hover-bg: #bc2f33;
$stepper-step-base-bg: #ffffff;
$stepper-step-base-hover-bg: #f5f5f5;
$stepper-step-base-border-color: #e0e0e0;
$stepper-step-base-hover-border-color: #c7c7c7;
$stepper-step-base-text-color: #242424;
$stepper-step-base-label-color: #242424;
$stepper-step-selected-bg: #4b3dbf;
$stepper-step-selected-hover-bg: #483ca8;
$stepper-step-selected-text-color: #ffffff;
$stepper-step-selected-label-color: #4b3dbf;
$stepper-step-invalid-bg: #ffffff;
$stepper-step-invalid-hover-bg: #f5f5f5;
$stepper-step-invalid-border-color: #e0e0e0;
$stepper-step-invalid-hover-border-color: #c7c7c7;
$stepper-step-invalid-text-color: #d13438;
$stepper-step-invalid-hover-text-color: #bc2f33;
$stepper-step-invalid-label-color: #d13438;
$stepper-step-invalid-selected-bg: #d13438;
$stepper-step-invalid-selected-hover-bg: #bc2f33;
$stepper-step-disabled-bg: #f0f0f0;
$stepper-step-disabled-text-color: #bdbdbd;
$stepper-connector-bg: #e0e0e0;
$stepper-connector-value-bg: #4b3dbf;
$stepper-step-shadow-color: #fafafa;
$splitter-resize-handle-color: #616161;
$splitter-resize-handle-color-focused: #ffffff;
$splitter-resize-handle-bg: #e0e0e0;
$splitter-resize-handle-bg-hover: #c7c7c7;
$splitter-resize-handle-bg-focused: #4b3dbf;
$splitter-resize-handle-color-hover: #616161;
$switch-bg: transparent;
$switch-handle-off-bg: #616161;
$switch-on-bg: #4b3dbf;
$switch-handle-on-bg: #ffffff;
$tabs-tab-color: #242424;
$tabs-tab-selected-color: #242424;
$tabs-tab-disabled-color: #bdbdbd;
$tabs-tab-border-color-selected-basic: #4b3dbf;
$tabs-tab-border-color-disabled: #bdbdbd;
$tabs-tab-background: transparent;
$tabs-tab-icon-color: #242424;
$tabs-tab-icon-selected-color: #4b3dbf;
$tabs-tab-icon-disabled-color: #bdbdbd;
$tabs-hovered-tab-bg-color: transparent;
$tabs-focused-tab-bg-color: #f5f5f5;
$tabs-active-tab-bg-color: #ffffff;
$badge-color: #ffffff;
$badge-bg: #4b3dbf;
$overlay-content-bg: #ffffff;
$overlay-shader-bg: #00000052;
$dropdowneditor-icon-active-color: #616161;
$list-normal-color: #424242;
$list-border-color: #e0e0e0;
$list-group-header-bg: transparent;
$list-item-hover-bg: #f5f5f5;
$list-item-selected-bg: #ebebeb;
$list-item-active-bg: #e0e0e0;
$list-group-color: #242424;
$list-expanded-group-color: #242424;
$calendar-navigator-text-color: #242424;
$calendar-header-color: #242424;
$calendar-cell-other-color: #616161;
$calendar-cell-selected-bg: #4b3dbf;
$load-indicator-segment-bg-color: #4b3dbf;
$load-indicator-inner-segment-border-color: #e9e6f8;
$treeview-focused-bg: #f5f5f5;
$menu-color: #242424;
$menu-item-selected-bg: #ebebeb;
$selectbox-list-bg: #ffffff;
$toolbar-bg: transparent;
$tileview-color: #242424;
$toast-info-bg: #ffffff;
$toast-info-color: #242424;
$toast-warning-bg: #fde300;
$toast-warning-color: #242424;
$toast-error-bg: #d13438;
$toast-error-color: #ffffff;
$toast-success-bg: #107c10;
$toast-success-color: #ffffff;
$progressbar-bg: #e6e6e6;
$progressbar-range-bg: #4b3dbf;
$progressbar-label-color: #242424;
$tooltip-color: #242424;
$tooltip-bg: #ffffff;
$fluent-slider-bar-bg: #616161;
$slider-accent-color: #4b3dbf;
$fluent-slider-tooltip-color: #242424;
$gallery-indicator-bg: #ffffff;
$gallery-indicator-item-selected-bg: #4b3dbf;
$gallery-indicator-focused-bg: #4b3dbf;
$gallery-navbutton-hover-color: #4b3dbf;
$gallery-navbutton-active-color: #4b3dbf;
$loadpanel-content-bg: #ffffff;
$tagbox-tag-color: #242424;
$tagbox-tag-bg: #f0f0f0;
$tagbox-tag-active-color: #242424;
$tagbox-tag-button-remove-bg: #616161;
$accordion-title-color: inherit;
$fluent-accordion-title-font-size: 14px;
$fluent-accordion-item-opened-margin: 0;
$colorbox-overlay-bg: #ffffff;
$datagrid-base-background-color: #ffffff;
$datagrid-columnchooser-item-color: #242424;
$datagrid-columnchooser-font-weight: 600;
$datagrid-drag-header-border-color: #4b3dbf80;
$datagrid-selection-bg: #ffffff;
$datagrid-row-selected-border-color: #e0e0e0;
$datagrid-row-selected-color: #242424;
$datagrid-row-focused-color: #242424;
$datagrid-row-focused-bg: #fdfdfe;
$datagrid-cell-modified-border-color: #f1faf1;
$datagrid-row-invalid-faded-border-color: #fdf6f6;
$datagrid-group-row-color: #242424;
$datagrid-group-row-bg: #ffffff;
$datagrid-search-color: #ffffff;
$datagrid-search-bg: #4b3dbf;
$datagrid-row-error-color: #ffffff;
$datagrid-row-error-bg: #e38588;
$datagrid-focused-border-color: #6f64cc;
$datagrid-editor-bg: transparent;
$datagrid-row-alternation-bg: #f5f5f5;
$datagrid-summary-color: #242424b3;
$datagrid-border-radius: 0;
$pagination-page-selected-color: #ffffff;
$pagination-page-selected-bg: #4b3dbf;
$pivotgrid-area-color: #242424;
$pivotgrid-totalcolor: #ffffff;
$pivotgrid-grandtotalcolor: #f5f5f5;
$pivotgrid-field-area-text-color: #0000004d;
$fileuploader-filename-color: #242424;
$fileuploader-falename-status-color: #707070;
$fileuploader-border-color: #e0e0e0;
$scheduler-base-border-color: #e0e0e0;
$scheduler-accent-border-color: #e0e0e0;
$scheduler-appointment-text-color: #000000;
$scheduler-appointment-base-color: #f6f5fc;
$scheduler-appointment-start-color: #0000004d;
$scheduler-workspace-focused-cell-color: #4b3dbf1f;
$scheduler-first-month-border-color: #e0e0e0;
$scheduler-current-time-cell-color: #4b3dbf;
$scheduler-border-radius: 0;
$form-field-item-color: #242424;
$form-group-border-color: #e0e0e0;
$filterbuilder-text-color: #242424;
$filterbuilder-text-focus-color: #ffffff;
$filterbuilder-plus-icon-color: #107c10b3;
$filterbuilder-remove-icon-color: #d13438b3;
$filterbuilder-group-operation-color: #d134384d;
$filterbuilder-item-field-color: #4b3dbf4d;
$filterbuilder-item-operator-color: #107c104d;
$filterbuilder-item-value-color: #e0e0e080;
$drawer-shader-background-color: #00000080;
$cardview-fluent-common-bg-color: #fafafa;
$cardview-fluent-common-link-color: #4b3dbf;
$cardview-fluent-common-text-color: #242424;
$cardview-fluent-card-bg-color: #ffffff;
$cardview-fluent-card-border-color: #e0e0e0;
$cardview-fluent-card-divider-color: #e0e0e0;
$cardview-fluent-card-text-color: #242424;
$cardview-fluent-card__cover-bg-color: #ffffff;
$cardview-fluent-card__cover--noimage-bg-color: #e0e0e0;
$cardview-fluent-card__cover--noimage__icon-color: #616161;
$cardview-fluent-card--selected-bg-color: #ffffff;
$cardview-fluent-card--selected-border-color: #e9e6f8;
$cardview-fluent-card--selected-divider-color: #e9e6f8;
$cardview-fluent-card--selected-text-color: #242424;
$cardview-fluent-card--selected__cover-bg-color: #ffffff;
$cardview-fluent-card--selected__cover--noimage-bg-color: #e0e0e0;
$cardview-fluent-card--selected__cover--noimage__icon-color: #616161;
$cardview-fluent-header-panel__item-bg-color: #f0f0f0;
$cardview-fluent-header-panel__item-border-color: #e0e0e0;
$cardview-fluent-header-panel__item-text-color: #242424;
$cardview-fluent-header-panel__item__icon-color: #242424;
$cardview-fluent-header-panel__item__header-filter-icon--selected-color: #4b3dbf;
$cardview-fluent-header-panel__item__sort-index-text-color: #242424;
$cardview-fluent-header-panel__item--hovered-bg-color: #ebebeb;
$cardview-fluent-header-panel__item--hovered-border-color: #bdbdbd;
$cardview-fluent-header-panel__item--hovered-text-color: #242424;
$cardview-fluent-header-panel__item--hovered__icon-color: #242424;
$cardview-fluent-header-panel__item--hovered__header-filter-icon--selected-color: #4b3dbf;
$cardview-fluent-header-panel__item--hovered__sort-index-text-color: #242424;
$cardview-fluent-header-panel__item--disabled-bg-color: #f0f0f0;
$cardview-fluent-header-panel__item--disabled-border-color: #e0e0e0;
$cardview-fluent-header-panel__item--disabled-text-color: #bdbdbd;
$cardview-fluent-header-panel__item--disabled__icon-color: #bdbdbd;
$cardview-fluent-header-panel__item--disabled__header-filter-icon--selected-color: #bbb9cd;
$cardview-fluent-header-panel__item--disabled__sort-index-text-color: #bdbdbd;
$cardview-fluent-header-panel__item--dragged-bg-color: #f0f0f0;
$cardview-fluent-header-panel__item--dragged-border-color: #e0e0e0;
$cardview-fluent-header-panel__item--dragged-text-color: #242424;
$cardview-fluent-header-panel__item--dragged__allowance-icon-color: #242424;
$cardview-fluent-header-panel__item--dragged__prohibition-icon-color: #c50f20;
$cardview-fluent-header-panel__item--dragged-box-shadow-color: #00000033;
$cardview-fluent-header-panel__dropzone-bg-color: #ffffff;
$cardview-fluent-header-panel__dropzone-border-color: #4b3dbf;
$cardview-fluent-header-panel__dropzone-text-color: #4b3dbf;
$cardview-fluent-header-panel__dropzone__icon-color: #4b3dbf;
$cardview-fluent-filter-panel-bg-color: #fafafa;
$cardview-fluent-filter-panel-border-color: #e0e0e0;
$cardview-fluent-filter-panel-text-color: #4b3dbf;
$cardview-fluent-filter-panel__icon-color: #4b3dbf;
$cardview-fluent-nodata-view-bg-color: #fafafa;
$cardview-fluent-nodata-view-text-color: #616161;
$cardview-fluent-nodata-view__icon-color: #616161;
$cardview-fluent-nodata-view__icon-bg-color: #e6e6e6;
$cardview-fluent-card__content__field-value--highlighted-bg-color: #fde300;
$cardview-fluent-card__content__field-value--highlighted-text-color: #242424;
$cardview-fluent-card__content__field-value--highlighted-box-shadow-color: #00000040;
$cardview-fluent-common-border-radius: 16px;
$cardview-fluent-common-text-weight: 400;
$cardview-fluent-common-cards-row-gap: 16px;
$cardview-fluent-common-cards-column-gap: 16px;
$cardview-fluent-card-border-radius: 8px;
$cardview-fluent-card__field-caption-weight: 600;
$cardview-fluent-card--selected__field-caption-weight: 600;
$cardview-fluent-header-panel__item-border-radius: 6px;
$cardview-fluent-header-panel__item-text-weight: 400;
$cardview-fluent-header-panel__item__sort-index-text-weight: 400;
$cardview-fluent-header-panel__item--hovered-text-weight: 400;
$cardview-fluent-header-panel__item--hovered__sort-index-text-weight: 400;
$cardview-fluent-header-panel__item--disabled-text-weight: 400;
$cardview-fluent-header-panel__item--disabled__sort-index-text-weight: 400;
$cardview-fluent-header-panel__item--dragged-text-weight: 400;
$cardview-fluent-header-panel__dropzone-border-radius: 8px;
$cardview-fluent-filter-panel-border-radius: 0;
$cardview-fluent-card__content__field-value--highlighted-border-radius: 5px;
$cardview-fluent-card__content__field-value--highlighted-text-weight: 500;
