/* You can add global styles to this file, and also import other style files */
/* src/styles.css */

// Custom Variables for All Themes
/* Theme: Indigo Night */
body.indigo-night-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #fff;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.indigo-night-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: Sunset-Ember */
body.sunset-ember-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #fff;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.sunset-ember-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 30%,
        black 70%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: emerald-depths */
body.emerald-depths-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #fff;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.emerald-depths-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 70%, white 30%) 50%,
        black 50%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: royal-amethyst */
body.royal-amethyst-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.royal-amethyst-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: crimson-flame */
body.crimson-flame-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.crimson-flame-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: amber-glow */
body.amber-glow-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.amber-glow-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: teal-abyss */
body.teal-abyss-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.teal-abyss-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

/* Theme: Coral Blush */
body.coral-blush-light {
    --primary-bg: #ffffff;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 20%, white 80%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 10%, white 90%);
    --text-color: #000;
    --primary-text-color: #000;
    --secondary-text-color: #1a1a1a;
    --sidebar-bg: color-mix(in srgb, var(--dx-color-primary) 30%, black 70%);
    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

body.coral-blush-dark {
    --primary-bg: #0a0a0a;
    --secondary-bg: color-mix(in srgb, var(--dx-color-primary) 25%, black 75%);
    --ternary-bg: color-mix(in srgb, var(--dx-color-primary) 15%, black 85%);
    --text-color: #fff;
    --primary-text-color: #fff;
    --secondary-text-color: #eeeeee;
    --sidebar-bg: color-mix(
        in srgb,
        color-mix(in srgb, var(--dx-color-primary) 60%, white 40%) 40%,
        black 60%
    );

    --sidebar-text-color: #fff;
    --selected-item-color: color-mix(
        in srgb,
        var(--dx-color-primary) 50%,
        white 50%
    );
}

.zero-padding-overlay .dx-popup-content {
    padding: 0 !important;
}

.zero-border-overlay .dx-popup-content .dx-card {
    border: none !important;
}
